@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Acrobat", "Arial", "Comfortaa", "Web Serveroff", sans-serif;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  background-color: cornsilk;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

.header-block__title {
  margin-top: 50px;
  font-size: 120px;
  text-align: center;
  font-family: "Akrobat-Thin", sans-serif;
  font-weight: 400;
}
@media (width <= 920px) {
  .header-block__title {
    margin-top: 20px;
    font-size: 80px;
    font-weight: 200;
  }
}

.main-block {
  width: 100%;
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 50px auto 200px;
  position: relative;
}

.check-all-task {
  text-align: center;
  position: relative;
  top: 40px;
  left: 20px;
  display: none;
}
.check-all-task_show {
  text-align: center;
  position: relative;
  top: 40px;
  left: 20px;
  display: inline-block;
}
@media (width <= 920px) {
  .check-all-task_show {
    top: 30px;
    left: 20px;
  }
}
.check-all-task__custom-button {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
}
.check-all-task__arrow-button {
  width: 15px;
  height: 15px;
  display: inline-block;
  transform: rotate(45deg);
  border: solid 2px #a9a9a9;
  border-top: none;
  border-left: none;
  pointer-events: none;
  transition: transform 200ms ease-in;
}
@media (width <= 920px) {
  .check-all-task__arrow-button {
    width: 12px;
    height: 12px;
  }
}
.check-all-task__custom-button:hover + .check-all-task__arrow-button {
  transform: rotate(45deg) scale(1.2);
}
.check-all-task__custom-button:checked + .check-all-task__arrow-button {
  border: solid 2px black;
  border-top: none;
  border-left: none;
}

.form-group {
  display: block;
  width: 100%;
}
.form-group__task-input {
  width: 100%;
  padding: 0px 20px 0px 70px;
  height: 70px;
  font-size: 40px;
  font-family: "Akrobat-Thin", sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  word-break: break-all;
}
@media (width <= 920px) {
  .form-group__task-input {
    height: 40px;
    font-size: 20px;
    padding-left: 50px;
  }
}

.list-item_edit-mode .edit-text {
  display: block;
  position: absolute;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 85%;
  height: 100%;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  top: 0%;
  right: 0%;
  font-family: "Akrobat-Thin", sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 1;
  color: #d2691e;
  background-image: linear-gradient(315deg, #D1D1D1, #E5E6E4);
  background-image: -webkit-linear-gradient(315deg, #D1D1D1, #E5E6E4);
  resize: none;
}
@media (width <= 920px) {
  .list-item_edit-mode .edit-text {
    font-size: 20px;
    height: auto;
  }
}
.list-item_edit-mode .custom-button {
  display: none;
}
.list-item_edit-mode .delete-img {
  display: none;
}

.task-list__list-item {
  position: relative;
  width: 100%;
  list-style-type: none;
  font-family: "Akrobat-Thin", sans-serif;
  font-weight: 400;
  border: none;
  background-color: white;
  border-radius: 10px;
  font-size: 40px;
  padding: 5px 70px;
  margin-top: 10px;
  overflow: hidden;
  overflow-wrap: break-word;
}
@media (width <= 920px) {
  .task-list__list-item {
    font-weight: 300;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.task-list__custom-button {
  width: 1px;
  cursor: pointer;
  position: absolute;
  left: 27px;
  top: 50%;
  transform: translateY(-60%);
}
.task-list__custom-button::after {
  margin-left: -10px;
  line-height: 1.5em;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 100%;
  background: #fff;
}
@media (width <= 920px) {
  .task-list__custom-button::after {
    width: 15px;
    height: 15px;
  }
}
.task-list__task-text {
  display: block;
  width: 100%;
  transition: all 200ms ease-in-out;
}
.task-list__edit-text {
  display: none;
}
.task-list__delete {
  position: absolute;
  margin-top: auto;
  right: 27px;
  top: 50%;
  transform: translateY(-40%);
  border: none;
  background-color: transparent;
  display: none;
}
.task-list__list-item:hover .task-list__delete {
  display: block;
}
.task-list__delete-img {
  pointer-events: none;
}
@media (width <= 920px) {
  .task-list__delete-img {
    width: 13px;
  }
}
.task-list__delete:hover .task-list__delete-img {
  fill: #a52a2a;
  transition: all 200ms ease-in-out;
}

.list-item_done .task-text_done {
  color: #a9a9a9;
  text-decoration: line-through;
  transition: all 200ms ease-in-out;
}
.list-item_done .custom-button::after {
  border: 1px solid gray;
}
.list-item_done .custom-button::before {
  content: "✓";
  font-size: 18px;
  position: absolute;
  margin-left: -7px;
  color: #a9a9a9;
}
@media (width <= 920px) {
  .list-item_done .custom-button::before {
    font-size: 15px;
    margin-left: -8px;
  }
}

.task-list_show-active-tasks .list-item {
  display: block;
}
.task-list_show-active-tasks .list-item_done {
  display: none;
}

.task-list_show-completed-tasks .list-item {
  display: none;
}
.task-list_show-completed-tasks .list-item_done {
  display: block;
}

.bottom-panel {
  width: 100%;
  list-style-type: none;
  padding: 20px;
  display: none;
  justify-content: space-between;
}
.bottom-panel_show {
  display: flex;
}
.bottom-panel__item, .bottom-panel__button {
  font-family: "Akrobat-Thin", sans-serif;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 2px;
}
@media (width <= 920px) {
  .bottom-panel__item, .bottom-panel__button {
    font-size: 15px;
    padding: 3px;
  }
}
.bottom-panel__item_left {
  font-weight: 600;
  width: 20%;
}
.bottom-panel__item_clear {
  padding-left: 10%;
  width: 30%;
}
.bottom-panel__button {
  background-color: #d2691e;
  border: none;
  border-radius: 10px;
  color: white;
}
.bottom-panel__button_active {
  background-color: #71BC78;
}
.bottom-panel__button_clear {
  visibility: hidden;
}
.bottom-panel__button_clear_show {
  visibility: visible;
}
.bottom-panel__button:hover {
  background-color: #ff8c00;
  opacity: 0.5;
}
.bottom-panel__button:active {
  background-color: #5F9EA0;
}/*# sourceMappingURL=index.css.map */