.header-block {
    &__title {
        margin-top: 50px;
        font-family: Akrobat-Thin, sans-serif;
        font-size: 120px;
        font-weight: 400;
        text-align: center;

        @include tablet {
            margin-top: 20px;
            font-size: 80px;
            font-weight: 200;
        }
    }
}

.main-block {
    position: relative;
    width: 100%;
    max-width: 960px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 50px auto 200px;
}

.check-all-task {
    position: relative;
    top: 40px;
    left: 20px;
    display: none;
    text-align: center;

    &_show {
        position: relative;
        top: 40px;
        left: 20px;
        display: inline-block;
        text-align: center;

        @include tablet {
            top: 30px;
            left: 20px;
        }
    }

    &__custom-button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 25px;
        cursor: pointer;
        opacity: 0;
        transform: translate(-50%, -50%);
    }

    &__arrow-button {
        display: inline-block;
        width: 15px;
        height: 15px;
        pointer-events: none;
        border: solid 2px #a9a9a9;
        border-top: none;
        border-left: none;
        transition: transform 200ms ease-in;
        transform: rotate(45deg);;

        @include tablet {
            width: 12px;
            height: 12px;
        }
    }

    &__custom-button:hover + &__arrow-button {
        transform: rotate(45deg) scale(1.2);
    }

    &__custom-button:checked + &__arrow-button {
        border: solid 2px black;
        border-top: none;
        border-left: none;
    }
}

.form-group {
    display: block;
    width: 100%;

    &__task-input {
        width: 100%;
        height: 70px;
        padding: 0 20px 0 70px;
        font-family: Akrobat-Thin, sans-serif;
        font-size: 40px;
        font-weight: 400;
        word-break:break-all;
        border: none;
        border-radius: 10px;

        @include tablet {
            height: 40px;
            padding-left: 50px;
            font-size: 20px;
        }
    }
}

.list-item_edit-mode {
    & .edit-text {
        position: absolute;
        top:0%;
        right: 0;
        right:0%;
        left: 0;
        display: block;
        width: 85%;
        height: 100%;
        padding-top: 5%;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        font-family: Akrobat-Thin, sans-serif;
        font-size: 40px;
        font-weight: 200;
        line-height:1;
        color:#d2691e;
        resize:none;
        background-image: linear-gradient(315deg, #D1D1D1, #E5E6E4);
        background-image: linear-gradient(315deg, #D1D1D1, #E5E6E4);
        border: none;
        border-radius: 10px;

        @include tablet {
            height: auto;
            font-size: 20px;
        }
    }

    & .custom-button {
        display: none;
    }

    & .delete-img{
        display: none;
    }
}

.task-list {
    &__list-item {
        position: relative;
        width: 100%;
        padding: 5px 70px;
        margin-top: 10px;
        overflow: hidden;
        font-family: Akrobat-Thin, sans-serif;
        font-size: 40px;
        font-weight: 400;
        overflow-wrap: break-word;
        list-style-type: none;
        background-color: white;
        border: none;
        border-radius: 10px;  

        @include tablet { 
            padding-right: 50px; 
            padding-left: 50px;
            margin-top: 10px;
            overflow: hidden;
            font-size: 20px;
            font-weight: 300;
            overflow-wrap: break-word;
            background-color: white;
            border: none;
            border-radius: 10px;
        }
    }

    &__custom-button {
        position: absolute;
        top: 50%;
        left: 27px;
        width: 1px;
        cursor: pointer;
        transform: translateY(-60%);
    }

    &__custom-button::after {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        line-height: 1.5em;
        content: "";
        background: #fff;
        border: 1px solid black;
        border-radius: 100%;

        @include tablet {
            width: 15px;
            height: 15px;
        }
    }

    &__task-text {
        display: block;
        width: 100%;
        transition: all 200ms ease-in-out;
    }

    &__edit-text {
        display: none;
    }

    &__delete {
        position: absolute;
        top: 50%;
        right: 27px;
        display: none;
        margin-top: auto;
        background-color: transparent;
        border: none;
        transform: translateY(-40%);
    }

    &__list-item:hover &__delete {
        display: block;
    }

    &__delete-img {
        pointer-events: none;

        @include tablet {
            width: 13px;
        }
    }

    &__delete:hover &__delete-img {
        fill:#a52a2a;
        transition: all 200ms ease-in-out;
    }
}

.list-item_done {
    & .task-text_done {
        color: #a9a9a9;
        text-decoration: line-through;
        transition: all 200ms ease-in-out;
    }

    & .custom-button::after {
        border: 1px solid gray;
    }
     
    & .custom-button::before {
        position: absolute;
        margin-left: -7px;
        font-size: 18px;
        color: #a9a9a9;
        content: '\2713';

        @include tablet {
            margin-left: -8px;
            font-size: 15px;
        }
    }
}

.task-list_show-active-tasks {
    & .list-item {
        display: block;
    }

    & .list-item_done {
        display: none;
    }
}

.task-list_show-completed-tasks {
    & .list-item {
        display: none;
    }

    & .list-item_done {
        display: block;
    }
}

.bottom-panel {
    display: none;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    list-style-type: none;

    &_show {
        display: flex;
    }

    &__item, &__button {
        padding: 5px 10px;
        font-family: Akrobat-Thin, sans-serif;
        font-size: 25px;
        border-radius: 2px;

        @include tablet {
            padding: 3px;
            font-size: 15px;
        }
    }

    &__item_left {
        width: 20%;
        font-weight: 600;
    }

    &__item_clear {
        width: 30%;
        padding-left: 10%;
    }

    &__button {
        color: white;
        background-color: #d2691e;
        border: none;
        border-radius: 10px;
    }

    &__button_active {
        background-color: #71BC78;
    }


    &__button_clear {
        visibility: hidden;
    }

    &__button_clear_show {
        visibility: visible;
    }

    &__button:hover {
        background-color:#ff8c00;
        opacity: 0.5;
    }

    &__button:active {
        background-color:#5F9EA0;
    }
}